body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}
.nav-links {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
  overflow: hidden;
  max-height: 0px;
  gap: 5px;
  flex-direction: column;
  top: 30px;
  right: 5px;
  list-style: none;
  background-color: grey;
  border-radius: 5px;
  transition: max-height 0.4s ease-out;
  width: 50
75px;
}
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px 15px;
}
.logo {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  font-style: oblique;
}
.nav-links.active {
max-height: 300px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
padding-left: 5px;
padding-right: 5px;
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    position: static;
    max-height: none;
    flex-direction: row;
    gap: 20px;
    
  }
}
.nav-links li a {
  color: #fff;
  font-weight: 500;
  font-family: arial, "Times New Roman";
  display: block;
  text-decoration: none;
  transition-color: 0.3s;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links li {
  text-align: center;
  padding: 10px 0;
}
.profil {
  text-align: center;
  padding: 40px 20px;
}
.profil-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba (0, 0, 0, 0.3);
  margin-bottom: 15px;
  border: 3px solid green;
}
.profil h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.profile p {
  color: #333;
  font-size: 16px;
}